div#container
div#header {background-color:#f0f8ff;}
div#left {background-color:#FFFFFF;}
div#right {background-color:#FFFFFF;}
div#content {background-color:#FFFFFF;}
div#footer {background-color:#FFFFFF;}
tr{align:right;valign:middle;}